*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#070114;
color:white;
overflow-x:hidden;
}

.hidden{
display:none;
}

#loading,
#passwordScreen,
#hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

background:
linear-gradient(
135deg,
#080015,
#21003d,
#ff2f92);

}

#loading h1{

font-size:60px;

animation:pulse 2s infinite;

}

#passwordScreen h2{

margin:25px 0;

font-weight:300;

}

input{

width:320px;

padding:18px;

border:none;

outline:none;

border-radius:40px;

font-size:18px;

text-align:center;

margin-top:20px;

}

button{

margin-top:30px;

padding:18px 45px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

background:#ff4fa3;

color:white;

transition:.35s;

box-shadow:
0 0 25px hotpink;

}

button:hover{

transform:scale(1.08);

box-shadow:
0 0 40px deeppink;

}

#hero h1{

font-size:70px;

}

#hero h2{

font-size:55px;

margin:20px 0;

color:#ffd6ec;

}

#hero p{

font-size:24px;

opacity:.9;

}

.star{

position:fixed;

width:3px;

height:3px;

background:white;

border-radius:50%;

animation:blink 2s infinite;

}

@keyframes blink{

50%{

opacity:.2;

}

}

@keyframes pulse{

50%{

transform:scale(1.08);

}

}
